@import '../../assets/styles/variables.scss';

.dictionaries {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  &__title {
    font-size: clamp(35px, 4vw, 40px);
    font-weight: 700;
    text-align: center;
  }

  &__create {
    margin-top: 40px;
    display: flex;
    column-gap: 15px;
    justify-content: flex-end;
    align-items: center;

    & Input {
      height: 42px;
      max-width: 400px;
    }
  }

  &__new {
    @include blueButton(10px, 30px);
  }

  &__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__item {
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  border: 2px solid rgb(0, 66, 104);
  border-radius: 10px;
  transition: background-color 0.3s ease;

  @media (max-width: 520px) {
    padding: 10px 10px;
  }

  &:hover {
    background-color: rgb(203, 239, 253);
  }

  &__title {
    font-size: clamp(18px, 4vw, 20px);
    font-weight: 500;
  }

  &__test {
    @include blueButton(6px, 18px);
  }
}
