@import '../../assets/styles/variables.scss';

.footer {
  background-color: $backgroundColor;

  &__container {
    margin-top: 30px;
    font-size: 20px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;

    @media (max-width: 552.98px) {
      flex-direction: column;
    }
  }

  &__love {
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;

  & a {
    align-self: flex-start;

    @media (max-width: 552.98px) {
      align-self: center;
    }
  }

  &__texts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__text {
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__list-item {
  }
  &__contacts {
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  &__contact {
  }

  &__links {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
