@import '../../assets/styles/variables.scss';

.dictionary {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  &__title {
    font-size: clamp(35px, 4vw, 40px);
    font-weight: 700;
    text-align: center;
  }

  &__search {
    display: flex;
    flex: 0 1 500px;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;

    @media (max-width: 571.98px) {
      width: 100%;
      flex: 0 1 auto;
    }
  }

  &__form {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    background-color: rgb(221, 242, 255);
    border-radius: 10px;
    padding: 20px 10px;

    & Input {
      height: 42px;
    }

    @media (max-width: 571.98px) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__search-button {
    @include blueButton(0px, 15px);
    height: 42px;
  }

  &__delete {
    border: 1px solid rgb(156, 156, 156);
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;

    &:hover {
      background-color: rgb(146, 213, 255);
    }
  }

  &__update {
    border: 1px solid rgb(199, 199, 199);
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;

    &:hover {
      background-color: rgb(146, 213, 255);
    }
  }

  &__add {
    border: 1px solid rgb(199, 199, 199);
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;

    &:hover {
      background-color: rgb(146, 213, 255);
    }
  }

  &__svg {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: flex-end;
    column-gap: 7px;
  }
}
